<div class="row">
  <div class="col s12">
    <button class="btn waves-effect waves-light cutup-ctrl" type="text" ng-click="interface = 'input' ">input message
    </button>
    <button class="btn waves-effect waves-light cutup-ctrl" type="text" ng-click="interface = 'dragdrop'; inputMessage.parse(4)">cut it up
    </button>
  </div>
</div>

<div class="row" ng-init="interface='input'">
  <div ng-show="interface === 'input'" ng-include src="'views/partials/input.html'"></div>
  <div ng-show="interface === 'dragdrop'" ng-include src="'views/partials/dragdrop.html'"></div>
</div>

