<div class="row" ng-init="interface='input'">
  <div ng-include src="'views/partials/dragdrop.html'"></div>
</div>

<div class='panel'>
  <div class='row'>
    <div class="img-container">
      <img src="{{model.selected.artist_img}}" alt="">
    </div>
    <div class="col m9 song-info">
      <span class="selected-info"><h4>{{model.selected.title}}</h4></span> <span ng-if="model.selected">by</span>
      <span class="selected-info"><h4>{{model.selected.artist}}</h4></span>
    </div>
  </div>
</div>

