
<div ng-controller="DragDropController">
  <div ng-repeat="list in lists">
    <ul dnd-list="list.people"
    dnd-allowed-types="list.allowedTypes"
    dnd-disable-if="list.people.length >= list.max">

        <li ng-repeat="person in list.people"
        dnd-draggable="person"
        dnd-type="person.type"
        dnd-disable-if="person.type == 'unknown'"
        dnd-moved="list.people.splice($index, 1)"
        dnd-effect-allowed="move"
        class="background-{{person.type}}"
        >
        {{person.name}}
      </li>
    </ul>
  </div>
</div>

<hr>

    <h1>query some lyrics</h1>
    <query></query>
    <ul>
      <li ng-repeat="songResult in apiResults">
        <ul>
          <li ng-repeat="line in songResult">{{line}}</li>
        </ul>
      </li>
    </ul>




