 <h4>Register</h4>
 <div class="row">
  <form class="col s12" name="registerForm" novalidate>
    <div class="row">
      <div class="input-field col s12">
        <input id="username" type="text" class="validate" ng-model="account.username" required />
        <label for="username">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" class="validate" ng-model="account.password" required />
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="email" type="email" class="validate" ng-model="account.email" required />
        <label for="email">Email</label>
      </div>
    </div>
      <button ng-click="registerForm.$valid && registerUser()" ng-disabled="registerForm.$invalid" class=" modal-action modal-close waves-effect waves-green btn-flat">submit</button>
  </form>
</div>
